<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AddEditEvent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AddEditEvent.Properties.Settings>
            <setting name="MyEventName" serializeAs="String">
                <value />
            </setting>
            <setting name="MyDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="MyStartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="MyEndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="MyAddressLine" serializeAs="String">
                <value />
            </setting>
            <setting name="MyCountry" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyCounty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyCity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyEventType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyCost" serializeAs="String">
                <value>0</value>
            </setting>
        </AddEditEvent.Properties.Settings>
    </userSettings>
</configuration>